.highlightBox{
  background-color: rgba(0, 0, 0, 0.599);
}


.bg-pan-left {
  /*background: linear-gradient(270deg, #ff6b6b, #f7d794, #6a89cc, #ff6b6b);*/
  background: linear-gradient(270deg,rgb(141, 117, 213),rgb(212, 116, 163),gold, rgb(212, 116, 163),rgb(141, 117, 213));
  background-size: 600% 100%;
  animation: bg-pan-left 12s infinite linear alternate;
}
body {
  background-image: url('img1.jpg'); /* Replace with your image path */
  background-size: cover; /* This makes the image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image horizontally and vertically */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
}
/*Bubble Container Styling*/
.bubble{
  display:flex;
  flex-direction: column;
  background-color: #f0f8ffb6;
  border-radius: 100px;
  box-shadow: inset 0 0 20px #57b2d36c;
  padding: 2rem 4rem;/*top then bottom*/
  margin: 10px;
  transition: background-color .6s ease;
}
.bubble button{
  width:fit-content;
  align-self: flex-end;
  margin: 5px;
  border-radius:50px;
}
.bubble button:hover{
  transform: scale(1.06);
  transition: transform 0.3s ease;
}
.bubble:hover{
  background-color: #f0f8ffe4;
  transition: background-color .6s ease;
}
@media (max-width:500px){
  .bubble{margin-left:30px;}/*help recenter on smaller screens*/
  .bubble button{align-self:center;}
.bubble p{
  font-size:100%;
  margin-left:-30px;
  margin-right:-30px;
}
}


/*Quote Styling*/
#featuredQuote{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#featuredQuote >.card{
    background-color:rgba(20, 20, 37, 0.916);
    color:white;
    min-width: 50%;
    transition: min-width 2s, background-color 2s,border-radius 2s;
    border-radius: 100px;
}
#featuredQuote >.card q{
  transition: font-size 2s
}
#featuredQuote >.card:hover{
  background-color: black;
  min-width: 75%;
  border-radius: 100px;
} 
#featuredQuote >.card:hover q{
    font-size:x-large;
}
#featuredQuote >.card .card-header{
  background-color: transparent !important;
  border:none !important;
}

/*Header Styles*/
header{
  height:100px; /*fixed height so that nav links can span that height*/
  padding-right: 0 !important; /*so that the nav buttons are flush with rhs of screen*/
}

header .navbar,
header .navbar-nav,
header .nav-item,
header .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  padding: 0 !important; /*so that the nav buttons are flush with top of screen*/
}
.nav-link {
  width: 100px;
  justify-content: center;
}

.nav-link.active {
  font-weight: bold;
  color: white !important;          /* Important is used to override */
  background-color: rgba(0, 0, 0, 0.762);       /* Distinct background */
}
.nav-link:hover{
  color: white !important;
  background-color: black;
  transition: background-color 1s;
}

/*Main Styles*/
.product-card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}





/* ----------------------------------------------
 * Generated by Animista on 2025-10-1 13:48:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
