.highlightBox{
  background-color: rgba(0, 0, 0, 0.599);
}
.glow{
  color:black;
  text-shadow: 0 0 10px rgb(150, 222, 255);
  transition: all 0.5s ease !important;
}

.glow:hover{
  color: white;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff33ff,
    0 0 60px #ff66ff;
  transition: all 0.5s ease !important;
}


.bg-pan-left {
  /*background: linear-gradient(270deg, #ff6b6b, #f7d794, #6a89cc, #ff6b6b);*/
  background: linear-gradient(270deg,rgb(183, 159, 255),rgb(255, 144, 198),gold, rgb(255, 144, 198),rgb(183, 159, 255));
  background-size: 600% 100%;
  animation: bg-pan-left 12s infinite linear alternate-reverse;
}
body {
  background-image: url('img/img1.jpg'); /* Replace with your image path */
  background-size: 150% auto; /* This makes the image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  animation: bg-pan-left-img 100s infinite linear alternate-reverse;
}

/*Bubble Container Styling*/
.bubble-icon{
  align-items: center;
  aspect-ratio: 1/1;/*to make it square*/
  border-radius: 80%;
  min-width: max-content;
  font-size: 3rem;
  justify-content: center;
  padding: 30px !important;;
}
.bubble{
  display:flex;
  flex-direction: column;
  background-color: #f0f8ffb6;
  border-radius: 100px;
  box-shadow: inset 0 0 20px #57b2d36c;
  padding: 2rem 4rem;/*top then bottom*/
  margin: 10px;
  transition: background-color .6s ease;
}
.bubble button{
  width:fit-content;
  align-self: flex-end;
  margin: 5px;
  border-radius:50px;
}
.bubble button:hover{
  transform: scale(1.06);
  transition: transform 0.3s ease;
}
.bubble:hover{
  background-color: #f0f8ffe4;
  transition: background-color .6s ease;
}
.bubble-card{
  margin:0;
  padding:0;
  box-shadow: 0 0 20px rgb(9, 16, 85);
      transition: transform 0.3s ease;

}
.bubble-card:hover{
  transform: scale(1.01);
    transition: transform 0.3s ease;

}
.bubble-card-img-left{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.list-group-horizontal .list-group-item{
    width:fit-content;
}
.list-group-item{
  text-align: center;
  background-color: rgba(127, 167, 176, 0.706);
  margin:5px;
  border-radius:5em !important;
  padding: 10px 20px 10px 20px;
}
.education h3{
  height:100px;
  border-bottom: 1px solid rgb(156, 193, 239);
}

/*Responsiveness*/
@media (max-width: 800px) {
  body {
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: scroll !important;
  }
}


.icon-row{
  flex-wrap: nowrap;
}
@media (max-width:1400px){
  .bubble-icon{
    font-size:2rem;
    margin:0;
  }
}
@media (max-width:1200px){
  .bubble-icon{
    display: none;
  }
}

@media (max-width:1000px){
  .bubble{margin-left:30px;}/*help recenter on smaller screens*/
  .bubble button{align-self:center;}
.bubble p {
  font-size: 1rem;
  margin: 0 1rem;
}
section{margin:0 !important;
  width:100% !important;
}
#introRow{
  background-color: blue;
  display: none;
}
.bubble .btn{
    margin-top:30px;
  }

@media (max-width:500px){
  .navbar-brand {width:100%;align-items: center; margin:0}
  header h1 {text-align: center;align-items: center; margin:0 !important;}

  header ul {
    width: 100%;
  }
  header ul .nav-item{
    width:100%;
  }
  header ul .nav-link {width:100%;}
  .bubble {
    padding: 30px !important;
  }
  .bubble h2{text-align: center;}
}

  header:first-of-type{height: max-content !important;}
  nav ul{height: 110px !important;}

}


/*Quote Styling*/
#featuredQuote{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#featuredQuote >.card{
    background-color:rgba(20, 20, 37, 0.916);
    color:white;
    min-width: 50%;
    transition: min-width 2s, background-color 2s,border-radius 2s;
    border-radius: 100px;
}
#featuredQuote >.card q{
  transition: font-size 2s
}
#featuredQuote >.card:hover{
  background-color: black;
  min-width: 75%;
  border-radius: 100px;
} 
#featuredQuote >.card:hover q{
    font-size:x-large;
}
#featuredQuote >.card .card-header{
  background-color: transparent !important;
  border:none !important;
}

/*Header Styles*/
body > header{ /*direct child of body that is a header*/
  height:70px; /*fixed height so that nav links can span that height*/
  padding-right: 0 !important; /*so that the nav buttons are flush with rhs of screen*/
  padding-left: 0 !important;
  animation: bg-pan-left 12s infinite linear alternate, color-shadow 12s infinite ease-in-out !important;
}

header h1{
  margin-left: 50px;
  padding:20px;
}

header .navbar,
header .navbar-nav,
header .nav-item,
header .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  padding: 0 !important; /*so that the nav buttons are flush with top of screen*/
}
.nav-link {
  width: 150px;
  justify-content: center;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link.active {
  font-weight: bold;
  color: white !important;          /* Important is used to override */
  background-color: rgba(0, 0, 0, 0.762);       /* Distinct background */
}
.nav-link:hover{
  color: white !important;
  background-color: black;
  transition: background-color 1s;
}

/*Main Styles*/
button a{
  text-decoration: none;
}
.bubble a{
  color:#ff00ff;
}
.bubble a:visited{
  color: rgb(42, 12, 175);
}
button a:visited{color:black !important;}
button a{
  color:black;
}


.product-card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/*Footer Styles*/
body > footer {
  height:200px;
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.784);
  color: white !important;
  border-top: rgba(0, 0, 0, 0.26) solid 20px;
}
.footer-icon{
  padding: 0 5px 0 5px;

}
body >footer a{
  color:white;
}




/* ----------------------------------------------
 * Generated by Animista on 2025-10-1 13:48:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left-img {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes color-shadow {
  0% {
    box-shadow: 0 0 20px 0px rgb(15, 4, 67);
  }
  50% {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgb(15, 4, 67);
  }
  
}

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-10-14 16:53:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-10-14 16:59:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
